{% extends 'base.html' %}

{% block content %}
<div class="one wide column"></div>

    {% if user.is_superuser %}
<div class="four wide column">
    <div class="ui padded segment">
        <h3 class="ui header centered color-h-green">
            Olá, {{ user.get_short_name|default:user.get_username }}!
        </h3>
        <a class="ui submit green button fluid labeled icon color-button"
           href="{% url 'vitrine:cadastro_produto' %}">
            <i class="box icon"></i>
            Cadastrar produto
        </a>
    </div>
</div>
    {% endif %}

<div class="ten wide column">
    {% if lista_produtos %}
    <div class="ui padded segment">
        <h2 class="ui header">Produtos</h2>
    <div class="ui search">
        <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Buscar...">
                <i class="search icon"></i>
        </div>
    <div class="results"></div>
    </div>
        <div class="ui large relaxed list">
            {% for produto in lista_produtos %}
            <div class="item">
                <i class="box icon"></i>
                <div class="content">
                    {{ produto.nome_produto }}
                    {{ produto.preco_produto }}
                    {{ produto.descricao_produto }}
                    {{ produto.desc_categoria }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="ui placeholder segment">
        <div class="ui centered header">
            Nada por aqui ainda!
        </div>
         </div>
    {% endif %}
</div>
{% endblock %}