{% extends 'base.html' %}

{% block content %}
<div class="one wide column"></div>

{% if user.is_superuser %}
<div class="four wide column">
    <div class="ui padded segment">
        <h3 class="ui header centered color-h-green">
            Olá, {{ user.get_short_name|default:user.get_username }}!
        </h3>
        <a class="ui submit green button fluid labeled icon color-button"
           href="{% url 'vitrine:cadastro_produto' %}">
            <i class="box icon"></i>Cadastrar produto
        </a>
    </div>
</div>
{% endif %}

<div class="ten wide column">
    <h2 class="ui header">Produtos</h2>
    <form method="get" action="{% url 'vitrine:lista_produtos' %}">
        <div class="ui search">
            <div class="ui icon input">
                <input class="prompt" name="q" type="text" placeholder="Pesquise aqui..." value= "{{request.GET.q}}">
                <input type="submit" value="Buscar"><i class="search icon"></i>
            </div>
        <div class="results"></div>
        </div>
    </form>

    {% if lista_produtos %}
        <table class="ui celled definition table">
            <thead>
                <tr><th class="collapsing"></th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Descrição</th>
                <th>Categoria</th>
                </tr>
            </thead>
            <tbody>

            {% for produto in lista_produtos %}
                <tr>
                    <td><i class="box icon"></i></td>
                    <td><a href="{% url 'vitrine:detalhe_produto' pk=produto.id%}">{{ produto.nome_produto }}</a></td>
                    <td>{{ produto.preco_produto }}</td>
                    <td>{{ produto.descricao_produto }}</td>
                    <td>{{ produto.id_categoria }}</td>
               </tr>
            {% endfor %}

            </tbody>
        </table>

    {% else %}
        <div class="ui placeholder segment">
            <div class="ui centered header">Nada por aqui ainda!</div>
        </div>
    {% endif %}
</div>
{% endblock %}